<div class="container-fluid">
    <div class="well">
        <h1>Games</h1>
    </div>

    <div class="row">
        <div ng-repeat="game in games">
            <div class="col-lg-4">
                <div>
                    <p>
                        <h4>{{game.Item}}</h4>
                        <span class="pull-right">Price: <em> {{game.Price | currency}}</em></span>
                    </p>
                    <img width="100%" height="70%" ng-src="{{game.image}}"/>
                </div>
                <br>
                <div>
                    <button type="button" class="btn btn-info " ng-click=""> Add to cart</button>
                </div>
            </div>
            <br/>

        </div>
    </div>

</div>